<div class="container">
  <div class="row">
  <h2>商品編集</h2>
  </div>

  <%= form_with model: @item, url:admin_item_path, method: :patch do |f| %>
  
  <div class="row mt-3">
  <h6>商品画像</h6>
  <div style="padding-left: 200px;"><%= f.file_field :image, accept:"image/*" %></div>
　</div>
　
　<div class="row">
  <h6>商品名</h6>
  <div style="padding-left: 215px;"><%= f.text_field :name %></div>
  </div>

　<div class="row">
  <h6>商品説明</h6>
  <div style="padding-left: 200px;"><%= f.text_area :introduction %></div>
  </div>
　
　<div class="row">
  <h6>ジャンル</h6>
  <div style="padding-left: 200px;"><%= f.collection_select(:genre_id, @genres, :id, :name, {prompt:"選択してください"}) %></div>
  </div>

　<div class="row">
  <h6>税抜価格</h6>
  <div style="padding-left: 200px;"><%= f.number_field :price %></div>
  </div>

　<div class="row">
  <h6>販売ステータス</h6>
  <div style="padding-left: 150px;"><%= f.radio_button :is_active, "販売中" %>販売中 <%=f.radio_button :is_active, "販売停止中" %>販売停止中</div>
  </div>

  <div class="row mt-5">
  <%= f.submit '変更を保存',class:"btn btn-success" %>
  <% end %>
  </div>
  </div>
</div>