<%= render 'public/public' %>
<div class="container">
 <div class="text-center">
  <div class="row">
   <div class="col-lg-8">
<h4>ようこそ、ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。</h4>
 </div>
 </div>
 </div>

    
<h1>新着商品</h1>
<div class="row">
　<div class="col-lg-4">
<% @items.each do |item| %>
<%= image_tag item.get_image,size:"5,5" %>
<%= item.name %>
<%= item.add_tax_price.to_s(:delimited) %> 円
<% end %>
 </div>
</div>
</div>

<%= link_to items_path do %>
全ての商品を見る＞
<% end %>