<%= render 'admin/admin' %>
<h2>会員一覧</h2>

<h4>会員ID</h4>
<h4>氏名</h4>
<h4>メールアドレス</h4>
<h4>ステータス</h4>
<% @customers.each do |customer| %>

<%= customer.id %>
<%= link_to admin_customer_path(customer.id) do %>
<%= customer.last_name %><%= customer.first_name %>
<% end %>
<%= customer.email %>
<%= customer.is_deleted ? '退会':'有効' %>

<% end %>
<%= paginate @customers %>