<div class="container">
  <h3>配送先登録/一覧</h3>
  <div class="col-lg-10 mt-3 ml-4">
  <%= form_with model: @address, url: addresses_path,method: :post do |f| %>
    <div class="row mt-5">
    <h6>郵便番号(ハイフンなし)</h6>
      <div style="padding-left:52px;"><%= f.text_field :postal_code %></div>
    </div>
    <br>
    
    <div class="row">
    <h6 class="mr-5">住所</h6>
      <div style="padding-left:142px;"><%= f.text_field :address %></div>
    </div>
    <br>
    
    <div class="row">
    <h6 class="mr-5">宛名</h6>
      <div style="padding-left:142px;"><%= f.text_field :name %></div>

    
    <div class="ml-5"><%= f.submit '新規登録',class:"btn btn-success" %></div>
    <% end %>
    </div>
  </div>
  <div class="col-lg-10 mt-3">
  <table class="table">
  <% @addresses.each do |address| %>
    <tbody>
      <tr>
        <th>郵便番号</th>
        <td>〒<%= address.postal_code %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= address.address %></td>
      </tr>
      <tr>
        <th>宛名</th>
        <td><%= address.name %></td>
      </tr>
      <tr>
        <td></td>

        <td>
        <%= link_to "編集する", edit_address_path(address.id),class:"btn btn-success" %>
      　<%= link_to "削除する", address_path(address.id),method: :delete,class:"btn btn-danger" %>
      　</td>
        <% end %>
      </tr>
    </tbody>
  </table>
  </div>
</div>