<h2>ショッピングカート</h2>
<%= link_to destroy_all_cart_items_path do %>
カートを空にする
<% end %>

<h3>商品名</h3>
<h3>単価</h3>
<h3>数量</h3>
<h3>小計</h3>

<% @cart_items.each do |cart_item| %>

<%= cart_item.item.name %>
<%= cart_item.item.add_tax_price.to_s(:delimited) %>

<%= form_with model: cart_item,url:cart_item_path(cart_item),method: :patch do |f| %>
<%= f.select :amount, *[1..10] %> %>
<%= f.submit "変更" %>
<% end %>

<%= cart_item.sum_of_price.to_s(:delimited) %>

<%= link_to cart_item_path(cart_item) do %>
削除する
<% end %>

<% end %>

<%= link_to root_path do %>
買い物を続ける
<% end %>

<h3>合計金額</h3>


<%= link_to new_order_path do %>
情報入力に進む
<% end %>
